<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mx-auto">
        <div class="w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="grid grid-rows-1 grid-flow-col w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <p 
                class="text-9xl text-center"
                >
                    {{ diceValue }}
                </p>

                <button
                (click)="toggleSymbol()"
                >
                    <p class="text-9xl text-center">{{ currentSymbol }}</p>
                </button>

                <input value="0" (input)="updateMod($event)" type="number" min="0" class="text-9xl text-center max-w-xs max-h-28 m-auto">
                
                <p class="text-9xl text-center">
                    =
                </p>

                <p class="text-9xl text-center">
                    {{ totalRoll }}
                </p>
            </div>

            <div class="flex flex-row">
                <div class="m-auto">
                    <button 
                    [disabled]="rolling"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    (click)="rollDice(4)"
                    >
                        D4
                    </button>
                </div>
    
                <div class="m-auto">
                    <button 
                    [disabled]="rolling"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    (click)="rollDice(6)"
                    >
                        D6
                    </button>
                </div>
    
                <div class="m-auto">
                    <button 
                    [disabled]="rolling"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    (click)="rollDice(8)"
                    >
                        D8
                    </button>
                </div>
    
                <div class="m-auto">
                    <button 
                    [disabled]="rolling"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    (click)="rollDice(12)"
                    >
                        D12
                    </button>
                </div>
    
                <div class="m-auto">
                    <button 
                    [disabled]="rolling"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    (click)="rollDice(20)"
                    >
                        D20
                    </button>
                </div>
    
                <div class="m-auto">
                    <button 
                    [disabled]="rolling"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    (click)="rollDice(100)"
                    >
                        D100
                    </button>
                </div>
            </div>
            <h1 class="text-4xl text-center m-auto mt-10">The Previous 10</h1>
            <div class="flex w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 h-28 items-center">
                <span 
                 class="text-6xl text-center m-auto"
                 *ngFor="let roll of rollHistory; let index = index"
                 [ngStyle]="{'color': (index === rollHistory.length-1) ? 'green' : 'black'}">
                    {{ roll }}
                </span>
            </div>
        </div>

    </div>
</body>
</html>
