<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mx-auto">
        <div *ngIf="players">
            <details class="bg-white shadow rounded group mb-4" *ngFor="let player of players; let index = index;">
                <summary class="list-none flex flex-wrap items-center cursor-pointer focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-500 rounded group-open:rounded-b-none group-open:z-[1] relative">
                    <h3 class="flex flex-1 p-4 font-semibold text-center m-auto">{{ player.name }}</h3>
                    <div class="border-8 border-transparent border-l-gray-600 ml-2 group-open:rotate-90 transition-transform origin-left"></div>
                </summary>
                <div class="p-4 items-center text-center">
                    <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" 
                    stroke-width="1.5" 
                    stroke="currentColor" 
                    class="cursor-pointer w-6 h-6 ml-2"
                    type="button"
                    (click)="onBeforeDeleteCharacter(player, index)">
                        <path 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                    </svg>
                    <h1 class="text-5xl p-4">{{ player.name }} </h1>
                    <h1 class="p-4 ml-44 mr-2">Level&nbsp;<input [value]=player.level></h1>
                    <h1 class="p-4 mr-16"><input type="text" class="text-center" [(ngModel)]="player.race" (ngModelChange)="changes['disableButton'] = false;" [value]="player.race">
                        {{ player.class }}
                    </h1>
                </div>
                <div class="p-4 flex items-center text-center bg-white shadow-xl rounded group mb-4 m-auto">
                    <h1 class="m-auto">Initiative
                        <input type="number" class="text-center" [(ngModel)]="player.initiative" (ngModelChange)="changes['disableButton'] = false;" [value]="player.initiative ? player.initiative : 0">
                    </h1>
                    <h1 class="m-auto">Health
                        <input type="number" class="text-center" [(ngModel)]="player.health" (ngModelChange)="changes['disableButton'] = false;" [value]="player.health ? player.health : 0">
                    </h1>
                    <h1 class="m-auto">Speed
                        <input type="number" class="text-center" [(ngModel)]="player.speed" (ngModelChange)="changes['disableButton'] = false;" [value]="player.speed ? player.speed : 0">
                    </h1>
                </div>
                <div class="p-4 flex items-center text-center bg-white shadow-xl rounded group mb-4 m-auto">
                    <h1 class="m-auto">Hit Dice
                        <input disabled type="text" class="text-center" value="{{ player.level }}d{{ player.hitDie }}">
                    </h1>
                    
                    <h1 class="m-auto">AC
                        <input type="number" class="text-center" [(ngModel)]="player.ac" (ngModelChange)="changes['disableButton'] = false;" [value]="player.ac ? player.ac : 0">
                    </h1>
                    <h1 class="m-auto">Proficiency
                        <input type="number" class="text-center" [(ngModel)]="player.proficiency" (ngModelChange)="changes['disableButton'] = false;" [value]="player.proficiency ? player.proficiency : 0">
                    </h1>
                </div>
                <div class="p-4 flex items-center text-center bg-white shadow-xl rounded group mb-4">
                    <h1>Strength: 
                        <input type="number" class="text-center" [(ngModel)]="player.stats.strength.score" (ngModelChange)="onPlayerChange('abilityScore')" [value]="player.stats ? player.stats.strength.score : 0">
                        <h1>MOD: {{ player.stats.strength.modifier }}</h1>
                        <h1>SAVE: {{ player.stats.strength.save }}</h1>
                    </h1>
                    <h1>Dexterity: 
                        <input type="number" class="text-center" [(ngModel)]="player.stats.dexterity.score" (ngModelChange)="onPlayerChange('abilityScore')" [value]="player.stats ? player.stats.dexterity.score : 0">
                        <h1>MOD: {{ player.stats.dexterity.modifier }}</h1>
                        <h1>SAVE: {{ player.stats.dexterity.save }}</h1>
                    </h1>
                    <h1>Constitution: 
                        <input type="number" class="text-center" [(ngModel)]="player.stats.constitution.score" (ngModelChange)="onPlayerChange('abilityScore')" [value]="player.stats ? player.stats.constitution.score : 0">
                        <h1>MOD: {{ player.stats.constitution.modifier }}</h1>
                        <h1>SAVE: {{ player.stats.constitution.save }}</h1>
                    </h1>
                    <h1>Intelligence: 
                        <input type="number" class="text-center" [(ngModel)]="player.stats.intelligence.score" (ngModelChange)="onPlayerChange('abilityScore')" [value]="player.stats ? player.stats.intelligence.score : 0">
                        <h1>MOD: {{ player.stats.intelligence.modifier }}</h1>
                        <h1>SAVE: {{ player.stats.intelligence.save }}</h1>
                    </h1>
                    <h1>Wisdom: <input type="number" class="text-center" [(ngModel)]="player.stats.wisdom.score" (ngModelChange)="onPlayerChange('abilityScore')" [value]="player.stats ? player.stats.wisdom.score : 0">
                        <h1>MOD: {{ player.stats.wisdom.modifier }}</h1>
                        <h1>SAVE: {{ player.stats.wisdom.save }}</h1>
                    </h1>
                    <h1>Charisma: <input type="number" class="text-center" [(ngModel)]="player.stats.charisma.score" (ngModelChange)="onPlayerChange('abilityScore')" [value]="player.stats ? player.stats.charisma.score : 0">
                        <h1>MOD: {{ player.stats.charisma.modifier }}</h1>
                        <h1>SAVE: {{ player.stats.charisma.save }}</h1>
                    </h1>
                </div>
                <div class="p-4 grid grid-rows-3 grid-flow-col items-center text-center bg-white shadow-xl rounded group mb-4 m-auto">
                    <h1 class="row-span-1" *ngFor="let skill of player.skills | keyvalue">
                        {{ skill.key | title }}: <br> <input disabled type="number" class="text-center" [(ngModel)]="player.skills[skill.key].score" (ngModelChange)="onPlayerChange('abilityScore')" [value]="player.skills[skill.key] ? player.skills[skill.key].score : 0">
                        <br>
                        <label>Proficiency? | Expertise?</label>
                        <br>
                        <input 
                        [disabled]="player.skills[skill.key].expertise"
                        [(ngModel)]="player.skills[skill.key].proficiency"
                        (ngModelChange)="applyProfOrExp(player, skill.key, true, false)"
                        type="checkbox" [value]="player.skills[skill.key].proficiency" 
                        class="w-4 h-4 mb-5 mr-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 text-center"
                        >
                        <input 
                        [disabled]="!player.skills[skill.key].proficiency"
                        [(ngModel)]="player.skills[skill.key].expertise"
                        (ngModelChange)="applyProfOrExp(player, skill.key, false, true)"
                        type="checkbox" [value]="player.skills[skill.key].expertise" 
                        class="w-4 h-4 mb-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 text-center"
                        >
                    </h1>    
                </div>

                <h1 class="text-2xl text-center">Conditions</h1>
                <div class="p-4 grid grid-rows-2 grid-flow-col items-center text-center bg-white shadow-xl rounded group">
                    <div class="row-span-1" *ngFor="let condition of filterExhaustion(player) | keyvalue">
                        <h1 *ngIf="condition.key !== 'exhaustion'">
                            {{ condition.key | title }}
                            <br>
                            <input 
                            [(ngModel)]="player.conditions[condition.key]"
                            (ngModelChange)="changes['disableButton'] = false;"
                            type="checkbox" [value]="player.conditions[condition.key]" 
                            class="w-4 h-4 mb-5 mr-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 text-center"
                            >
                        </h1>
                    </div>
                    
                </div>
                <div class="p-4 grid grid-rows-3 grid-flow-col items-center text-center bg-white shadow-xl rounded group">
                    <h1 class="text-center mb-4">
                        Exhaustion
                    </h1>
                    <input [(ngModel)]="player.conditions.exhaustion" (ngModelChange)="changes['disableButton'] = false;" type="range" min="0" max="6" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
                    <h1 >
                        Level {{ player.conditions.exhaustion }}
                    </h1>
                    
                </div>
            </details>
            <button
             [disabled]="changes['disableButton']"
             (click)="onSaveChanges()"
             type="button"
             class="bg-blue-500 hover:bg-blue-700 text-white font-bold sticky bottom-4 mr-4 py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
             Save All
            </button>
            <button
             (click)="onCreateNewCharacter(false)"
             type="button"
             class="bg-blue-500 hover:bg-blue-700 text-white font-bold sticky bottom-4 py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
             New Character
            </button>
        </div>
        <h1 class="w-full flex justify-center flex-col m-auto h-screen text-center text-3xl" *ngIf="!players">Please enter a campaign code on the homepage.</h1>

        <div class="fixed inset-0 z-10 overflow-y-auto" *ngIf="createNewCharacter">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="flex">
                            <div class="grid grid-rows-3 grid-flow-col mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left items-center">
                                <div class="row-span-3 text-center ml-auto">
                                
                                    <h3 class="text-base font-semibold leading-6 text-gray-900">Create New Character</h3>
                                    <input placeholder="Character Name" class="text-center shadow-xl background-gray-600 mt-2" type="text" [(ngModel)]="newCharacter.name">
                                    
                                    <select class="text-center shadow-xl" [(ngModel)]="newCharacter.class">
                                        <option class="text-center" value="">Class</option>
                                        <option class="text-center" value="Artificer">Artificer</option>
                                        <option class="text-center" value="Bararian">Bararian</option>
                                        <option class="text-center" value="Bard">Bard</option>
                                        <option class="text-center" value="Cleric">Cleric</option>
                                        <option class="text-center" value="Druid">Druid</option>
                                        <option class="text-center" value="Fighter">Fighter</option>
                                        <option class="text-center" value="Monk">Monk</option>
                                        <option class="text-center" value="Paladin">Paladin</option>
                                        <option class="text-center" value="Ranger">Ranger</option>
                                        <option class="text-center" value="Rogue">Rogue</option>
                                        <option class="text-center" value="Sorcerer">Sorcerer</option>
                                        <option class="text-center" value="Warlock">Warlock</option>
                                        <option class="text-center" value="Wizard">Wizard</option>
                                    </select>
                                    
                                    <input placeholder="Character Level" class="text-center shadow-xl" type="number" [(ngModel)]="newCharacter.level">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button 
                        type="button" 
                        class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                        (click)="onCreateNewCharacter(true)"
                        >
                            Create
                        </button>
                        <button 
                        type="button" 
                        class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                        (click)="createNewCharacter = false;"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed inset-0 z-10 overflow-y-auto" *ngIf="deleteCharacter">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="flex">
                            <div class="grid grid-rows-3 grid-flow-col mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left items-center">
                                <div class="row-span-3 text-center ml-auto">
                                    <h3 class="text-base font-semibold leading-6 text-gray-900 ml-20 mb-4">Please type "{{ toDelete['player']['name'] }}" to delete this character:</h3>
                                    <input [(ngModel)]="toDelete['deletionConfirmation']" type="text" placeholder="Type to delete" class="text-center shadow-xl border-2 border-black-500/100 ml-20">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button
                        [disabled]="toDelete['deletionConfirmation'] !== toDelete['player']['name']"
                        type="button" 
                        class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                        (click)="onDeletion()"
                        >
                            Delete
                        </button>
                        <button 
                        type="button" 
                        class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                        (click)="deleteCharacter = false;"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>