<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
      *ngIf="!campaignCreated"  
      class="w-full max-w-xs flex flex-col m-auto h-screen">
        <form 
          [formGroup]="newCampaignForm"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 m-8"
          (ngSubmit)="onSubmit()"
         >
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2 text-center">
              Campaign Name
            </label>
            <input 
                formControlName="name"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center"
                type="text"
            >

            <label class="block text-gray-700 text-sm font-bold mb-2 mt-3 text-center">
                Players (optional)
            </label>

            <div 
              class="justify-center mt-4 flex flex-wrap"
              *ngFor="let player of players; let index = index; trackBy: trackByFn;">

              <p class="mt-4 ml-4">Player {{ index + 1 }}</p>
              
              <svg 
                xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="cursor-pointer w-6 h-6 ml-auto mt-4"
                type="button"
                (click)="onRemovePlayer(index)">
                <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
              </svg>

              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center mt-2 ml-4"
                type="text"
                placeholder="Player Name"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="players[index].name"
                (ngModelChange)="onPlayerNameChange($event, index)"
              >              

              <select 
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg mt-2 ml-4 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [(ngModel)]="players[index].class"
              [ngModelOptions]="{standalone: true}"
              (ngModelChange)="onPlayerClassChange($event, index)"
              >
                <option class="text-center" value="Artificer">Artificer</option>
                <option class="text-center" value="Bararian">Bararian</option>
                <option class="text-center" value="Bard">Bard</option>
                <option class="text-center" value="Cleric">Cleric</option>
                <option class="text-center" value="Druid">Druid</option>
                <option class="text-center" value="Fighter">Fighter</option>
                <option class="text-center" value="Monk">Monk</option>
                <option class="text-center" value="Paladin">Paladin</option>
                <option class="text-center" value="Ranger">Ranger</option>
                <option class="text-center" value="Rogue">Rogue</option>
                <option class="text-center" value="Sorcerer">Sorcerer</option>
                <option class="text-center" value="Warlock">Warlock</option>
                <option class="text-center" value="Wizard">Wizard</option>
              </select>

              <select 
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg mt-2 ml-4 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [(ngModel)]="players[index].level"
              [ngModelOptions]="{standalone: true}"
              (ngModelChange)="onPlayerLevelChange($event, index)"
              >
                <option *ngFor="let level of playerLevels; let ind = index;" [selected]="index === 0" class="text-center" [value]="level">{{ level }}</option>
              </select>

            </div>
            <svg 
                xmlns="http://www.w3.org/2000/svg"
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="cursor-pointer w-6 h-6 ml-auto mr-auto mt-3"
                type="button"
                (click)="onAddPlayer()">
                <path 
                    stroke-linecap="round"
                    stroke-linejoin="round" 
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                />
            </svg>

          </div>
          <div class="flex items-center justify-center">
            <button
             [disabled]="newCampaignForm.invalid || disableForm"
             type="submit"
             class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
             Create
            </button>
          </div>
        </form>
    </div>
    <div
      *ngIf="campaignCreated" 
      class="w-full max-w-xs flex flex-col m-auto h-screen items-center">
      <div class="bg-white flex flex-col shadow-md rounded px-8 pt-6 pb-8 mb-4 m-8 items-center">
        <label class="block text-gray-700 text-sm mb-2 text-center">
          Campaign Code
        </label>
        <h2 class="block text-gray-700 text-lg font-bold mb-2 text-center">
          {{ campaignCode }}
        </h2>
        <label class="block text-gray-700 text-sm mb-2 text-center">
          Remember this code as it is the only way you can access your campaign.
        </label>
        <br>
        <hr>
        <br>
        <div class="flex items-center">
          <input 
            [(ngModel)]="userAcknowledged"
            type="checkbox" value="" 
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 text-center">
          <label for="link-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-center">I will never forget my campaign code.</label>
        </div>
        <br>
        <button
          [disabled]="!userAcknowledged"
          (click)="backHome()"
          type="button"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
          Back Home
        </button>
      </div>
    </div>
</body>
</html>
