<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
      *ngIf="!campaignCreated"  
      class="w-full max-w-xs flex flex-col m-auto h-screen">
        <form 
          [formGroup]="newCampaignForm"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 m-8"
          (ngSubmit)="onSubmit()"
         >
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2 text-center">
              Campaign Name
            </label>
            <input 
                formControlName="name"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center"
                type="text"
            >

            <label class="block text-gray-700 text-sm font-bold mb-2 mt-3 text-center">
                Players (optional)
            </label>

            <div 
              class="justify-center mt-4 flex"
              *ngFor="let player of players; let index = index; trackBy: trackByFn;">

              <p class="mt-4">{{ index + 1 }}.</p>

              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center mt-2 ml-4"
                type="text"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="players[index].name"
                (ngModelChange)="onPlayerChange($event, index)"
              >
  
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="cursor-pointer w-6 h-6 mt-4 ml-3"
                type="button"
                (click)="onRemovePlayer(index)">
                <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" 
                  />
              </svg>
            </div>
            
            <svg 
                xmlns="http://www.w3.org/2000/svg"
                fill="none" 
                viewBox="0 0 24 24" 
                stroke-width="1.5" 
                stroke="currentColor" 
                class="cursor-pointer w-6 h-6 ml-auto mr-auto mt-3"
                type="button"
                (click)="onAddPlayer()">
                <path 
                    stroke-linecap="round"
                    stroke-linejoin="round" 
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                />
            </svg>

          </div>
          <div class="flex items-center justify-center">
            <button
             [disabled]="newCampaignForm.invalid || disableForm"
             type="submit"
             class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
             Create
            </button>
          </div>
        </form>
    </div>
    <div
      *ngIf="campaignCreated" 
      class="w-full max-w-xs flex flex-col m-auto h-screen items-center">
      <div class="bg-white flex flex-col shadow-md rounded px-8 pt-6 pb-8 mb-4 m-8 items-center">
        <label class="block text-gray-700 text-sm mb-2 text-center">
          Campaign Code
        </label>
        <h2 class="block text-gray-700 text-lg font-bold mb-2 text-center">
          {{ campaignCode }}
        </h2>
        <label class="block text-gray-700 text-sm mb-2 text-center">
          Remember this code as it is the only way you can access your campaign.
        </label>
        <br>
        <hr>
        <br>
        <div class="flex items-center">
          <input 
            [(ngModel)]="userAcknowledged"
            type="checkbox" value="" 
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 text-center">
          <label for="link-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-center">I will never forget my campaign code.</label>
        </div>
        <br>
        <button
          [disabled]="!userAcknowledged"
          (click)="backHome()"
          type="button"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
          Back Home
        </button>
      </div>
    </div>
</body>
</html>
