<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="w-full max-w-xs flex justify-center flex-col m-auto h-screen" *ngIf="!campaignLoaded">
      <form 
        [formGroup]="existingCampaignForm"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        (ngSubmit)="onSubmit()"
        >
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2 text-center">
            Please enter an existing Campaign Code or create a campaign
          </label>
          <input 
          formControlName="campCode"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" type="text">
        </div>
        <div class="flex items-center justify-center">
          <button
            [disabled]="disableForm"
            *ngIf="existingCampaignForm.valid"
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
            Get Campaign Data
          </button>
          <button 
            [disabled]="disableForm"
            *ngIf="existingCampaignForm.invalid"
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Create Campaign
          </button>
        </div>
      </form>
  </div>

  <div class="container mx-auto" *ngIf="campaignLoaded">
    <div class="grid grid-rows-3 grid-flow-col w-full m-auto h-screen">
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 m-8 items-center"></div>
    </div>

  </div>

  <div class="sticky bottom-0 bg-indigo-800 hover:bg-indigo-1000 text-center lg:px-4 cursor-pointer" *ngIf="campaignLoaded && !dmCode || dmCode && !dmLoggedIn" (click)="toggleDmModal()">
    <div class="p-2 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex " role="alert">
      <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Alert</span>
      <span *ngIf="campaignLoaded && !dmCode" class="font-semibold mr-2 text-left flex-auto">Do you own this campaign? Click here to set up DM privilages</span>
      <span *ngIf="dmCode && !dmLoggedIn" class="font-semibold mr-2 text-left flex-auto">Welcome back! If you are the DM of this campaign, log in here</span>
      <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    </div>
  </div>


  <!-- DM AUTH MODAL -->
  <div class="backdrop-blur-sm fixed inset-0 z-10 overflow-y-auto" *ngIf="dmPasswords.assignDM">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="flex">
                    <div class="grid grid-rows-3 grid-flow-col mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left items-center">
                        <div class="row-span-3 text-center ml-auto" *ngIf="campaignLoaded && !dmCode">
                          <h3 class="text-base font-semibold leading-6 text-gray-900">Set a password for DM authentification</h3>
                          <input [(ngModel)]="dmPasswords.password" placeholder="Password" class="text-center shadow-xl" type="password">
                          <input [(ngModel)]="dmPasswords.confirmPassword" placeholder="Confirm Password" class="text-center shadow-xl" type="password">
                        </div>
                        <div class="row-span-3 text-center ml-auto" *ngIf="dmCode && !dmLoggedIn">
                          <h3 class="text-base font-semibold leading-6 text-gray-900">Please enter your personal DM password</h3>
                          <input [(ngModel)]="dmPasswords.password" placeholder="Password" class="text-center shadow-xl" type="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <button 
                *ngIf="campaignLoaded && !dmCode"
                [disabled]="validateDMPasswords()"
                type="button" 
                class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                (click)="setDMPassword()">
                  Submit
                </button>
                <button 
                *ngIf="dmCode && !dmLoggedIn"
                type="button" 
                class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                (click)="validateDM()">
                  Login
                </button>
                <button 
                type="button" 
                class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                (click)="toggleDmModal()">
                  Cancel
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
