<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="w-full max-w-xs flex justify-center flex-col m-auto h-screen" *ngIf="!campaignLoaded">
      <form 
        [formGroup]="existingCampaignForm"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        (ngSubmit)="onSubmit()"
        >
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2 text-center">
            Please enter an existing Campaign Code or create a campaign
          </label>
          <input 
          formControlName="campCode"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center" type="text">
        </div>
        <div class="flex items-center justify-center">
          <button
            [disabled]="disableForm"
            *ngIf="existingCampaignForm.valid"
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
            Get Campaign Data
          </button>
          <button 
            [disabled]="disableForm"
            *ngIf="existingCampaignForm.invalid"
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Create Campaign
          </button>
        </div>
      </form>
  </div>

  <div class="container mx-auto" *ngIf="campaignLoaded">
    <h1>Loaded</h1>
  </div>



</body>
</html>
