<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w-full max-w-lg flex justify-center flex-col m-auto h-screen">
        <h1 class="text-center mb-4">Drag and Drop to Alter Order</h1>
        <div class="w-full flex flex-col m-auto h-screen">
            <div *ngIf="!customOrder" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let player of sortByRoll()" cdkDrag>{{ player.playerObject.name }} | Roll: {{ player.initiativeRoll }} (Dex Mod: {{ player.playerObject.initiative }})</div>
            </div>
            <div *ngIf="customOrder" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let player of players" cdkDrag>{{ player.playerObject.name }}</div>
            </div>
        </div>
    </div>
    <div class="container mx-auto sticky bottom-4">
        <button 
        (click)="rollInitiativeAllPlayers()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline">
            Roll Initiative!
        </button>
        <button 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline">
            Add Monster
        </button>

        <mat-slide-toggle class="ml-2" [(ngModel)]="customOrder">Custom Order?</mat-slide-toggle>
    </div>
</body>
</html>