<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div *ngIf="players.length > 0" class="w-full max-w-lg flex justify-center flex-col m-auto h-screen">
        <h1 *ngIf="customOrder" class="text-center mb-4">Drag and Drop to Alter Order</h1>
        <div class="w-full flex flex-col m-auto h-screen">
            <div *ngIf="!customOrder" class="example-list">
                <div 
                class="example-box" 
                *ngFor="let player of sortByRoll()">
                    <div class="mx-auto text-center" *ngIf="!player.playerObject['monster']">
                        {{ player.playerObject.name }} (Initiative: {{ player.playerObject.initiative }})
                        <div class="text-green font-bold">
                            Roll: {{ player.initiativeRoll }}
                        </div>
                    </div>
                    
                    <div class="mx-auto text-center" *ngIf="player.playerObject['monster']">
                        <input class="mx-auto text-center mb-4" [(ngModel)]="player.playerObject.name">
                        <br>
                        <label class="mx-auto text-center">Initiative:</label>
                        <br>
                        <input type="number" class="mx-auto text-center w-10 ml-4" [(ngModel)]="player.playerObject.initiative">
                        <div class="text-green font-bold">
                            Roll: {{ player.initiativeRoll }}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="customOrder" cdkDropList class="example-list cursor-grab active:cursor-grabbing" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let player of players" cdkDrag>
                    <div *ngIf="!player.playerObject['monster']" class="mx-auto text-center">
                        {{ player.playerObject.name }} (Initiative: {{ player.playerObject.initiative }})
                        <div class="text-green font-bold">
                            Roll:
                            <input type="number" class="text-right text-green font-bold w-10" [(ngModel)]="player.initiativeRoll">
                        </div>
                    </div>

                    <div class="mx-auto text-center" *ngIf="player.playerObject['monster']">
                        <input class="mx-auto text-center mb-4" [(ngModel)]="player.playerObject.name">
                        <br>
                        <label class="mx-auto text-center">Initiative:</label>
                        <br>
                        <input type="number" class="mx-auto text-center w-10 ml-4" [(ngModel)]="player.playerObject.initiative">
                        <div class="text-green font-bold">
                            Roll: {{ player.initiativeRoll }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="players.length > 0" class="container mx-auto sticky bottom-4">
        <button 
        [disabled]="disableButtons"
        (click)="rollInitiativeAllPlayers()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline">
            Roll Initiative!
        </button>

        <button
        [disabled]="disableButtons"
        (click)="onCreateMonster()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-2 rounded focus:outline-none focus:shadow-outline">
            Add Monster
        </button>

        <mat-slide-toggle [disabled]="disableButtons" class="ml-2" [(ngModel)]="customOrder">Custom Order?</mat-slide-toggle>
    </div>

    <h1 class="w-full flex justify-center flex-col m-auto h-screen text-center text-3xl" *ngIf="players.length === 0">Please enter a campaign code on the homepage.</h1>
</body>
</html>