<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mx-auto">
        <div class="grid grid-rows-4 grid-flow-col">
            <div class="w-full bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-4xl text-center row-span-1">Roll 20</h1>
                <br>
                <h1 class="text-3xl text-center text-blue-500 hover:text-blue-700"><a href="https://roll20.net/">https://roll20.net/</a></h1>
            </div>
    
            <div class="w-full bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-4xl text-center row-span-1">Kobold Plus Fight Club (KFC)</h1>
                <br>
                <h1 class="text-3xl text-center text-blue-500 hover:text-blue-700"><a href="https://koboldplus.club/">https://koboldplus.club/</a></h1>
            </div>
    
            <div class="w-full bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-4xl text-center row-span-1">D&D Wikidot</h1>
                <br>
                <h1 class="text-3xl text-center text-blue-500 hover:text-blue-700"><a href="http://dnd5e.wikidot.com/">http://dnd5e.wikidot.com/</a></h1>
            </div>
    
            <div class="w-full bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-4xl text-center row-span-1">D&D Beyond</h1>
                <br>
                <h1 class="text-3xl text-center text-blue-500 hover:text-blue-700"><a href="https://www.dndbeyond.com/">https://www.dndbeyond.com/</a></h1>
            </div>
    
            <div class="w-full bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-4xl text-center row-span-1">Donjon</h1>
                <br>
                <h1 class="text-3xl text-center text-blue-500 hover:text-blue-700"><a href="https://donjon.bin.sh/">https://donjon.bin.sh/</a></h1>
            </div>

            <div class="w-full bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-4xl text-center row-span-1">Hero Forge</h1>
                <br>
                <h1 class="text-3xl text-center text-blue-500 hover:text-blue-700"><a href="https://www.heroforge.com/">https://www.heroforge.com/</a></h1>
            </div>

            <div class="w-full bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-4xl text-center row-span-1">D&D Official Website</h1>
                <br>
                <h1 class="text-3xl text-center text-blue-500 hover:text-blue-700"><a href="https://dnd.wizards.com/">https://dnd.wizards.com/</a></h1>
            </div>

            <div class="w-full bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4">
                <h1 class="text-4xl text-center row-span-1">D&D Fandom</h1>
                <br>
                <h1 class="text-3xl text-center text-blue-500 hover:text-blue-700"><a href="https://dungeons.fandom.com/wiki/Main_Page">https://dungeons.fandom.com/wiki/Main_Page</a></h1>
            </div>
        </div>
    </div>
</body>
</html>